backend/local_catalog.json filter=lfs diff=lfs merge=lfs -text
frontend/src/catalog_fallback.js filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
backend/*.json filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
